/* GridExample.module.css */
/* File: styles.css */
:root {
  --main-color: #0373f3;
}

/* ----------------------custom-swiper-------------------------- */
:global(.swiper-button-next::after),
:global(.swiper-button-prev::after) {
  font-weight: 800 !important;
  font-size: 1.5vw !important;
}


/* -----------------------custom-andesign------------------------- */
:global(.ant-menu-item.ant-menu-item-only-child) {
  /* text-align: center; */
  padding: 1.7vw 0.9vw !important;
  color: black;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}




/* -------------------------loadingOverlay-layer-------------------- */
.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);
  /* làm mờ nền */
}

.customSpinner {
  width: 45px;
  height: 45px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #0373f3;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------------------------------topHome--------------------------- */

.topHome {
  display: flex;
  width: 75%;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 0.8vw;
}

.topHomeText1 {
  color: #a3afba;
}


.topHomeText2 {
  color: var(--main-color);
  ;

}


/* --------------------------carousel -------------------------------------*/

.voucher {
  background: #025fca;
  width: 75%;
  margin: 0 auto;
  height: 64vw;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  ;
}


.carousel {
  padding: 2vw;
}


.carouselCard {
  height: 31vw;

}

.cardDescription {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9vw;
}


.cardButton {
  font-size: 1.05vw;
  margin: 1vw 0;
  font-weight: 500;
  background: #e6f1ff;
  color: #1e71d1;
  width: 100%;
  padding: 0.25vw;
  border-radius: 5px;
  border: none;
}

.cardButton:hover {
  border: 2px solid #025fca;
}


.productimage {
  width: 100%;
  height: 15vw;
  object-fit: cover;

}

.dealsock {
  display: flex;
  align-items: center;
  margin-top: 0.9vw;
  font-size: 0.9vw;
  width: 60%;
  padding: 0.15vw;
  background-color: #ffc339;
  border-radius: 99px;
}

.dealsockicon {
  padding: 2px;
  border-radius: 99px;
  color: #ff8641;
  background: #ffe4ca;
  font-size: 0.9vw;
}

.dealsockcontent {
  color: #7a0916;
  font-size: 0.9vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.price {
  margin-top: 1vw;
  color: #b71d18;
  font-size: 1.1vw;
}

.newPrice {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.oldPrice {
  text-decoration: line-through;
  font-size: 0.8vw;
  color: #a5b0bb;
}




.cornercheck {
  border-radius: 3px;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #0d6efd;
  /* Bootstrap primary */
  clip-path: polygon(100% 0, 100% 100%, 0 0);
}

/* ----------------------------------products------------------------ */

.mainProducts {
  width: 75%;
  margin: 2vw auto;
  display: flex;
  gap: 1vw;
}

.filter {
  background: white;
  max-height: 18vw;
}

.filterTitle {
  font-size: 1.6vw;
  color: #025fca;
}

.filterIcon {
  color: #025fca;
  margin: 0 1vw;
}

.filterContent {
  font-size: 1.6vw;
  font-weight: 500;
}



.products {
  width: 100%;
}

.arrayProducts {
  margin-top: 2rem;
}

.productsFilter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productsFilterLeft {
  font-size: 1.05vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productsFilterRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
}

.productsFilterRightTitle {
  font-size: 0.9vw;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.carditem {
  margin: 0.9vw 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 0;
  border-radius: 10px;
  height: 30vw;
}

.carditem:hover {
  box-shadow: 0 0 16px 4px rgba(3, 115, 243, 0.7);
  transform: translateY(-2px);
  border: 2px solid #0373f3;
}

/* -----------------------bottom-Home--------------------------- */

.bottomHome {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomHomeItem {
  border-radius: 10px;
  padding: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6vw;
  background-color: #ffffff;
  margin: 2vw 0;
  width: 19vw;
  height: 7vw;
}

.bottomHomeItemTitle {
  font-size: 1.1vw;
  font-weight: 500;
}

.bottomHomeItemContent {
  font-size: 0.8vw;
  color: #a7b0b8;
}

.bottomHomeItemIcon {
  font-size: 1.4vw;
  color: #0373f3;
  padding: 0.5vw;
  background: #e6f1ff;
  border-radius: 99px;
}

/*--------------------scrollToTop-Button----------------------------  */
.scrollToTopButton {
  width: 2.4vw;
  height: 2.4vw;
  position: fixed;
  bottom: 2.2vw;
  right: 2.2vw;

  font-size: 1vw;
  border-radius: 99vw;
  background-color: #e6f1ff;
  color: #0053f0;
  border: 1px solid #0053f0;
  cursor: pointer;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
}