


.card1{
    margin-bottom: 3rem;
    display: flex;
}

/*-----------------------------------itemimages------------------------ */
.itemimages{
    width: 50%;
    height: 100%;
}

.image{
    width: 100%;
    height: 35vw;
    border-radius: 5px;
    object-fit:cover;
}


/* ---------------------------itempolicy------------------------- */


.itempolicy{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1vw;
}


.favourite{
    background-color: #f84a2e;
    color: white;
    border-radius: 2px;
}


.star{
 color: #f84a2e;
}

.price{
    font-size: 1.2rem;
    color: #f84a2e;
}

.discount{
    margin: 1vw;
    font-size: 0.8rem;
    color: white;
    background-color: #f84a2e;
    border: solid 1px;
    border-radius: 5px;
}

/* --------------------------------------itemrate--------------------------------- */
.itemratecontainer{
    margin-top: 3rem;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}



.itemrateparent{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fffbf8;
    padding: 0.5rem;
    border: #fdd0ca solid 1px;
}

.itemratechild{
    border: #fdd0ca solid 1px;
    padding: 1rem;
    font-size:1vw;
}

/* ----------------------------comment----------------- */


.commentcontainer{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;
}

.avatarimage{
    border-radius: 100rem;
    width: 3rem;
    height: 3rem;
}

.commentcontent{
    text-align: left;
}


