/* -------------------------------top-Footer--------------------- */

.topFooter {
    background: #e6f1ff;
    padding: 2vw 0;
}

.topFooterContent {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 1vw auto;
}

.topFooterLeft {
    font-size: 1.5vw;
    font-weight: 500;
}

.topFooterLeft i {
    color:#0373f3 ;
}


.topFooterRight {
    font-weight: 500;
    font-size: 1.05vw;
    color: #0373f3;
    padding: 0.8vw 2vw;
    border-radius: 99px;
    background-color: white;
}

/* ---------------------------------footer--Main-------------------------- */

.footerMain {
    background-image: url('../../../public/asset/images/mapfooter1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 18vw;
    display: flex;
    align-items: center;
    font-size: 0.85vw;
    color: #a0aab2;
}

.footerContent {}

.footerTitle {
    font-size: 1.5vw;
    font-weight: 500;
    color: #0373f3;
}

.footerGoogleApp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    color: white;
    padding: 0.65vw;
    border-radius: 0.8vw;
    margin: 1vw 0; 
}

.footerAppleApp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #0373f3;
    color: white;
    padding: 0.65vw;
    border-radius: 0.8vw;
}

